  body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "roboto", sans-serif;
  }

  /* ******************************* chargement ******************************* */

  .chargement {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    background-color: white;
    animation: cercle 3500ms 1 forwards;
    animation-delay: 1500ms;


    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border: gray solid 5px;
      border-top-color: #FF79DA;
      border-bottom-color: #9356DC;
      border-radius: 50%;
      animation: charge 1s linear infinite;
    }
  }

  @keyframes cercle {
    100% {
      opacity: 0;
      display: none;
    }
  }

  @keyframes charge {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

/* ******************************* le header ******************************* */


  .logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tailleLogo {
    width: 200px;
    height: 36px;
  }

  .ville {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    padding-left: 9%;
    background-color: #eaeaea;

    @media (min-width:1000px) {
      padding-left: 4%;

    }

    .fa-solid {
      padding-right: 4%;
    }

  }

  .description {
    text-align: center;
    background-color: #F6F6F6;
    
    padding-top: 1px;
  }

  .soustitre {
    font-weight: 300;
    font-size: 18px;
  }

  .sizeTitle {
    font-size: 30px;
  }

  

  .Texteville {
    height: 50px;
    width: 170px;
    font-size: 18px;
    color: black;
    background-color: #eaeaea;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width:1000px) {
      margin-left: -3%;
    }
  }



  .button {
    width: 218px;
    height: 50px;
    margin: 20px 0px;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 4px 10px 0px gray;
    align-items: center;
    display: inline-grid;
    

    

    &:hover {
      opacity: 0.8;
    }

  }

  /* *********************************** fonctionnement **************************************** */
  .padding5 {
    padding-left: 5%;
  }

  .fonct {

    padding-left: 5%;
    padding-right: 5%;

    @media(min-width:1000px) {

      margin-left: 9%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .choix {
      border: 2px solid #F2F2F2;
      width: 100%;
      height: 73px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      background-color: #F6F6F6;
      margin-bottom: 20px;
      box-shadow: 3px 3px 0px 1px #00000006;

      @media(min-width:1000px) {
        margin-right: 2%;
        width: 335px;
      }

      .cercle {
        width: 24px;
        height: 24px;
        border-radius: 20px;
        right: 13px;
        position: relative;
        color: white;
        background-color: #9356DC;
        display: grid;
        place-items: center;

        @media (min-width:1000px) {
          left: auto;
        }
      }


    }



    .fa-solid {
      padding-right: 5%;
    }
  }

  .lignetest {

    @media (min-width:1000px) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
  }




  //  *********************** restaurant ******************* 
  .h2 {

    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;

  }

  .carte {
    text-decoration: none;
    color: inherit;
  }

  .menu {
    background-color: #F6F6F6;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;

    @media (min-width:1000px) {
      padding-left: 14%;
      padding-right: 13%;
    }

    .menu_cartes {
      display: grid;
      gap: 18px;

      @media(min-width:1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 40px;
        width: 100%;
      }

      .carte {
        height: 250px;
        position: relative;

        &_image {
          width: 100%;
          height: 165px;
          border-radius: 15px 15px 0px 0px;
          background-size: cover;
          object-fit: cover;
        }

        &_nouveau {
          background-color: #99E2D0;
          color: #008766;
          width: 80px;
          height: 29px;
          top: -133px;
          right: 12px;
          position: absolute;
          border-radius: 2px;
          display: grid;
          place-items: center;
        }

        &_description {
          background-color: white;
          height: 70px;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 0 0 15px 15px;

          .carte_description-NomDuMenu,
          .carte_description-ville {
            margin: 0;
          }

          .carte_description-NomDuMenu {
            padding-top: 5px;
            margin-left: 18px;

          }

          .carte_description-ville {
            padding-top: 5px;
            font-weight: 300;
            margin-left: 18px;
          }



        }


      }

    }
  }

  /* ******************************* les likes ******************************* */

  .coeurvide {
    font-size: 25px;
    width: 29px;
    height: 24px;
    right: 22px;
    position: absolute;
    opacity: 1;
    top: 10px;
  }

  .coeurplein {
    font-size: 25px;
    width: 29px;
    height: 24px;
    right: 22px;
    opacity: 0;
    position: absolute;
    transition-property: all;
    transition-duration: 3s;
    top: 10px;

    &:hover {
      opacity: 1;
      color: transparent;
      background-image: linear-gradient(#9356DC, #FF79DA);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  /* ******************************* le footer ******************************* */
  .footer {
    background-color: #353535;
    color: white;
    
    gap: 10px;
    padding-left: 0;

    @media (min-width:1000px) {
      height: 114px;
    }

    .inverse {
        padding: 22px 25px;

        @media(min-width: 1000px) {

            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;

        }
    }

    .footer_image {
        filter: invert(100%);
        width: 137px;
        height: 27px;
        padding-left: 5%;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-top: 25px;

        @media(min-width: 1000px) {
            position: relative;
            top: -10px;
            margin-right: 2%;

        }


    }

    .footerdetait {
        padding-left: 5%;
        line-height: 1.5;

        @media(min-width:1000px) {
            margin-top: 3px;
            gap: 20px;
            margin-right: 20px;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;


        }
    }

    .marge {
        margin-left: 35px;
        margin-left: 0px;
    }

    .Footercontact {
        text-decoration: none;
        color: white;
    }
}




  @media (min-width : 1000px) {}